<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= stylesheet_link_tag 'admin/login', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Gravitas+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <%= yield %>
    </div>
</body>
</html>
