.blog-content {
    margin-top: 50px;
}

.add-comment-box {
    width: 100%;
}

.sub-text-area {
    width: 100%;
}

.sub-comment-box {
  margin-left: 75px;
}

.comment-line {
    margin-top: 30px;
    border-top: 1px solid #8c8b8b;
}

.comment-user-pictrue {
    padding: 0 25px 0 0;
    font-size: 50px;
    color: #d3d3d3;
}

.comment-text-body {
    font-size: 1.0em;
}