.category-links {
    font-size: 65%;
    line-height: 1.5em;
}

.category-links a {
    display: block;
}

.far-right-column {
    margin-bottom: 15px;
}

.second-column {
    border-left: 1px solid $light-grey;
}

.main-blog {
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
}

.post {
    text-align: justify;
}

.main-page-title {
    font-size: 200%;
    margin: auto;
    margin-top: 30px;
}

.cartoon-image {
    height: 100%;
}


.main-blog-title {
    font-family: $font-family-main-title;
    font-size: 250%;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1em;
    text-align: center;
}

.portrait {
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.comment-box {
    width: 100%;
    background-color: $font-color-sub-titles;
    padding-left: 5px;
    font-size: 65%;
}

.likes {
    padding-right: 20px;
    color: red;
}

.return {
    color: $light-grey;
    display: inline-block;
    line-height: 15px;
}