/* Very top navigation bar */
.navigation-container
{
 width: 100%;
 position: fixed;
 top: 0;
 z-index: 1;
 }

.top-navigation {
    background-color: $secondary-color;
    height: 35px;
    border: 1px solid #ccc;
    width: 100%;
    margin: 0 auto;
}

.navigation {
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
}

.navigation-bar {
    float: left;
    margin: 0;
}

.navigation-bar li {
    font-family: $font-family2;
    font-size: 75%;
    display: inline;
}

/* blog header */
.blog-header {
    font-family: $font-family;
    width: 100%;
    background-color: $secondary-color;
    /* border-bottom: 1px solid #ccc; */
    height: 25px;
    height: 100px;
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;
}

/* blog sub-header search bar */
/* do I need the this rul sub-header? */
.sub-header {
    width: 100%;
    background-color: $dark-grey;
    border-bottom: 1px solid #ccc;
    height: 25px;
    margin-top: 5px;
}

/* blog sub-header search bar */
.search-bar {
    width: 100%;
    background-color: $dark-grey;
    border-bottom: 1px solid #ccc;
    height: 45px;
    margin: 0 auto;
    margin-top: 25px;
}

.search-form .form-group {
    padding: 5px 0 5px 0;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
/* footer */
.footer-container {
    text-align: center;
    width: 100%;
    bottom: 0;
    z-index: 1;
    margin-top: 25px;
}

.footer {
    font-family: $font-family2;
    background-color: $secondary-color;
    height: 25px;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 0 auto;
}