<h1>Contacts#create</h1>
<p>Find me in app/views/contacts/create.html.erb</p>

<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>
