@import "bootstrap-sprockets";
@import "bootstrap";
@import "partials/globals";

body {
    padding-top: 40px;
    background-color: $secondary-color;
}

.user-signin {
    width: 50%;
    padding: 15px;
}