<div class="blog-header">
  <div class="row">
    <div class="col-md-12">
      <p>{ blog: { "by": "TROYleach" } }</p>
      <h1>Manage Posts</h1>
    </div>
  </div>
</div>

<section>
  <div class="content row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <th>Post Title</th>
          <th>Post Category</th>
          <th>Post Actions</th>
        </tr>
        <tr>
          <td>Post Number One</td>
          <td>News</td>
          <td><a href="" class="btn btn-primary">Edit</a> <a href="" class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
          <td>Post Number Two</td>
          <td>News</td>
          <td><a href="" class="btn btn-primary">Edit</a> <a href="" class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
          <td>Post Number Three</td>
          <td>News</td>
          <td><a href="" class="btn btn-primary">Edit</a> <a href="" class="btn btn-danger">Delete</a></td>
        </tr>
      </table>
      <div class="add-post">
        <a href="new.html" class="btn btn-success pull-right">Add Post</a>
      </div>
    </div>
    <!-- End of col-md-12 below section -->
  </div>
  <!-- End of row below section -->
</section>
