$primary-color: #FAFAFA;
$secondary-color: #FAFAFA;
$dark-white: #FAFAFA;
$dark-grey: #e5e5e5;
$dark_black: #5D5C5A;
$light-grey: #ccc;

$font-family-test: "Source Serif Pro", Helvetica, sans-serif;
$font-family2: "Times New Roman", Times, sans-serif;
$font-family: "Courier New", Courier, monospace;
$font-family-h1: "Courier New", Courier, monospace;
$font-family-h234: "Times New Roman", Times, sans-serif;
$font-family-main-title: 'Gravitas One', cursive;
$font-color-main-titles: #5D5C5A;
$font-color-sub-titles: #86CCD6;