<div class="quote-container">
  <div class="polaroid">
    <%= image_tag 'http://www.relatably.com/q/img/famous-computer-programming-quotes/steve-jobs-coding-quote.jpg', :class => "quote-image", :alt => "Image with quote" %>
  </div>
</div>
