<div class="sports-container">
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'http://content.sportslogos.net/logos/7/161/full/hpkx3h1jga92tglyhcertjsxc.gif', :class => "sport-image", :alt => "Image with quote" %>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'http://images.footballfanatics.com/FFImage/thumb.aspx?i=/productImages/_1702000/ff_1702542_xl.jpg&w=340', :class => "sport-image", :alt => "Image with quote" %>
    </div>
  </div>
  <div class="col-sm-12">
      <p>
          <i>Sports Coming Soon</i>
      </p>
  </div>
</div>
