<!-- Start of middle column -->
<div class="main-blog col-md-8 col-md-offset-2">
  <div class="row">
    <div class="col-md-12">
      <div class="main-blog-title">
        Ruby on Rails
      </div>
      <div class="post">
        <%= image_tag("main-image.jpg", :alt => "CMain Blog Image") %>
          <small class="pull-right">Credit for the pictrue</small>
          <h4>This is the title of the main post</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor vulputate eros eget molestie. Nam ullamcorper sodales lacus vitae sodales. Suspendisse condimentum massa tellus, nec tempus odio posuere vel. Aliquam erat volutpat. Aenean ut egestas velit. Donec tincidunt nec mi quis mollis. In id magna ultricies, ullamcorper enim vel, viverra velit.
          </p>
          <p>
            Donec nisl ante, egestas at ultricies eu, ultricies non nisl. Maecenas tempor orci mi, vitae tempus magna congue ut. Aliquam congue dolor in accumsan mattis. Sed consequat vestibulum tortor, ut dignissim est efficitur nec. Proin eget commodo diam. Aliquam molestie in felis non bibendum. Quisque ornare risus tempus justo elementum, vitae mollis ante iaculis. Donec eu ultrices nunc, id laoreet mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque id magna tristique, venenatis ipsum eget, rhoncus nibh. Cras vehicula orci magna, in iaculis mauris maximus non. Nulla pulvinar diam eu nisi placerat, interdum sodales arcu porttitor. Aenean blandit feugiat nibh, eu tristique eros accumsan vitae. Curabitur pulvinar lectus vitae odio hendrerit vehicula ac pretium ipsum.
          </p>
          <p>
            Sed porttitor metus feugiat dolor commodo vehicula. Aenean nec nunc diam. In ut molestie metus. Cras sagittis risus ac libero malesuada dictum. Aliquam sed blandit dui. Proin condimentum gravida velit et condimentum. Vestibulum nec tristique risus, eget convallis ante. Etiam elit metus, lacinia at consequat in, convallis id risus. Vestibulum a mauris non est interdum vulputate at ut libero. Integer tincidunt felis non fermentum blandit.
          </p>
          <p>
            Proin sodales ante ac dapibus bibendum. Mauris magna urna, lobortis nec iaculis ut, sodales at nunc. Ut aliquet lacinia nibh at tempus. Curabitur sagittis nunc sit amet tempor pharetra. Duis accumsan odio sit amet augue consequat, vestibulum blandit magna egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac feugiat urna, in facilisis velit. Sed neque justo, tristique in pellentesque a, hendrerit id elit. Sed sodales, elit in aliquet euismod, purus tortor pharetra odio, sed aliquam lacus dui vel est. Aenean augue sapien, suscipit sed convallis in, consequat non mauris. Nulla vel tortor iaculis, facilisis erat non, pellentesque dolor. Duis congue felis at imperdiet venenatis. Proin gravida hendrerit lorem a euismod. Pellentesque at dignissim nunc. Nullam id ipsum turpis. Quisque et ornare ex, nec cursus purus.
          </p>
          <small>by: Troy Leach</small>
          <small>Date: June 18, 2016</small>
      </div>
    </div>
  </div>
</div>
