        <section>
            <div class="content row">
                <div class="col-md-12">
                    <div>
    <!-- Start of first  columne -->
                        <div class="design-border col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Troy is a avid Scuba Diver.</h3>
                                    <%= image_tag("img_1.JPG", :alt => "Image of Troy scuba diving") %>
                                    <p>
                                        Growing up it wasn't expected to take swimming classes. I would not have not taken anyways. I HATED water. I was not one to go to the pool and hang out, or go to the lake, just was not a thing for me. I was into other things. I raced moutaint bikes, avid climber rock and moutain. The person that taught me how to climb was a scuba diver as well. All the years we climbed together he tried to get me to scuba dive. I always truned him down stating that there was no good reason for me to go scuba diving. One year for my wifes birthday I decided to get her scuba diving lessons. After spending over an hour in <a href="http://denverdivers.com">Denver Divers</a> and lots of talking.. "Hey your wife will need a dive buddy", and like any good husbend my response was "she is out going she will find a buddy" about me taking the classes with her (I will also say, what I'm about to tell you I am sure this person didn't have the authorty to offer this) He told me that I should take the classes with her if I didn't like it I didn't have to pay. Well, I became a scuba instructor, I hold most certifications, including deep diving. My favorite diving is wreck diving. Funny how life works out! 
                                    </p>
                                </div>
                            </div>
                        </div>
    <!-- Start of right column -->
                        <div class="design-border col-md-10">
                            <div class="row">
                                <div class="col-md-12">
                                     <h2>Leach decides to make the change from Construction to Software Developemnt!</h2>
                                </div>
                                <div class="col-md-2">
                                    <p>
                                        On August 17, 2014 I moved into my new life (and appartment). Sometime back in the summer of 2013 I decided to change everything I knew and change careers. I have worked in construction all my life. I have never held a job outside of construction. When going to school I worked at local hardware stores. When I got a little older I would frame during the summer time. I worked in Architecture for the first part of my professional career, moving into the construciton side. In 2006 I decided to open up a residential construciton comapny. I built a business that grossed $16,000 in it's first year to grossing over $500,000 in it's fourth year. Starting in my second year I didn't have to market my business. My work ethic and quailty of work spoke for my business and all my work came from referrals. <br/> <strong>If I was so sucessful, why did i give it all up at 45?</strong> I believe that everyone should experience as much as they can in life. Yes I was successful, but I didn't want to work for 50 years then retire. That is what my parants did and my parents parents did. I wanted more.
                                    </p>
                                </div>
                                <div class="col-md-5">
                                    <%= image_tag("family.jpg", :alt => "Picture of the Family") %>
                                    <p>
                                        So in the summer of 2013 I decided to change careers into development. We have always loved Chicago and I found a bootcamp there DevBootcamp. I applied went through the applicaiton process, took the interviews and YES was accpeted. In August of 2014, we sold everything we had, rented our house, put the dog in the truck and we were outta there.
                                    </p>
                                </div>
                                <div class="col-md-5">
                                    <%= image_tag("travel.jpg", :alt => "Picture of Italy") %>
<p>
    there are better develpors out there there none of them will have my work ethic or my willingness to learn new things as myself. (look up the payton manning thing he said something similar)
                                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                    <%= image_tag("beebe-A-003.jpg", :alt => "Project I did in consruction") %>
                                </div>
                            </div>
                        </div>

                    </div><!-- End of row tag -->
                </div><!-- End of col-md-12 below section -->
            </div><!-- End of row below section -->
        </section>
