@import "partials/globals";
@import "styles/top_navigation";
@import "styles/index";
@import "styles/tabs";
@import "styles/blog_show";

body {
    background-color: $primary-color;
    font-family: $font-family-test;
    font-size: 1.8em;
    line-height: 1.5em;
}

img {
    width: 100%;
}

.project-image {
    height: 75px;
    width: auto;
}

.project-text {
    font-size: 75%;
}


h1 {
    color: $font-color-main-titles;
    font-family: $font-family-h1;
}

h2, h3, h4 {
    color: $font-color-sub-titles;
    font-family: $font-family-h234;
    font-weight: 900;
}

small {
    font-size: 65% !important;
}

.comment img {
    width: 70%;
}




