<!-- Start of middle column -->
<div class="main-blog col-md-8 col-md-offset-2">
  <div class="row">
    <div class="col-md-12">
      <div class="main-blog-title">
          <%= @category.name %>
      </div>
      <div class="post">
          <% @posts.each do |post| %>
              <div class="well">
                  <div>
                      <%= post.title %>
                  </div>
                  <div>
                      <%= raw post.body %>
                  </div>
              </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
