<div class="top-navigation-iphone">
    <header class="header">
      <a href="#" class="header__icon" id="header__icon"></a>
      <a href="#" class="header__logo">{ blog: { by: "Troy Leach" } }</a>
      <nav class="menu">
        <a href="/">Home</a>
        <a href="/about.html">About</a>
        <%= link_to 'Contact', new_contact_path %>
        <a href="http://www.troyleach.com">troyleach.com</a>
        <a href="https://www.github.com/troyleach" target="_blank">github</a>
        <a href="https://plus.google.com/u/0/100235641551070410533" target="_blank">Google+</a>
        <a href="https://www.linkedin.com/in/troy-leach-67280ba" target="_blank">linkin</a>

        <hr style="width: 75%"/>
      </nav>
    </header>
</div>

