<div class="top-navigation">
    <ul class="navigation navigation-bar">
        <li class="active"><a href="/">Home |</a></li>
        <li><a href="/about.html">About |</a></li>
        <li><a href="/contact.html">Contact |</a></li>
        <li><a href="http://www.troyleach.com" target="_blank">troyleach.com</a></li>
    </ul> 
    <ul class="navigation navigation-bar pull-right">
        <li class="active"><a href="index.html">github |</a></li>
        <li><a href="#">facebook |</a></li>
        <li><a href="#">linkin</a></li>
    </ul> 
</div>
